#NET "sys_rst_i" LOC=A3;
#NET "sys_rst_i" IOSTANDARD = "LVCMOS33";

NET "MCLK" CLOCK_DEDICATED_ROUTE = TRUE;
NET "MCLK" TNM_NET = "TNM_MCLK";
NET "MCLK" IOSTANDARD = "LVCMOS33";
NET "MCLK" LOC=F1;
TIMESPEC "TS_MCLK" = PERIOD "TNM_MCLK" 48 Mhz HIGH 50%;

NET "sys_clk_i" TNM_NET = "TNM_sys_clk_i";
TIMESPEC "TS_sys_clk_i" = PERIOD "TNM_sys_clk_i" 68 Mhz HIGH 50%;

#NET "CLK_IMG" TNM_NET = "TNM_CLK_IMG";
#TIMESPEC "TS_CLK_IMG" = PERIOD "TNM_MCLK" 16 Mhz HIGH 50%;

PIN "img_ck_gen/DCM_inst.CLKFX" CLOCK_DEDICATED_ROUTE = FALSE;

NET "uart_tx" LOC=D2;
NET "uart_tx" IOSTANDARD = "LVCMOS33";

NET "ledout" LOC=B9;
NET "ledout" IOSTANDARD = "LVCMOS33";

NET "reload_b" LOC=B1;
NET "reload_b" IOSTANDARD = "LVCMOS33";

NET "phy_TXCLK" CLOCK_DEDICATED_ROUTE = TRUE;
NET "phy_TXCLK" TNM_NET = "TNM_phy_TX_CLK";
TIMESPEC "TS_phy_TXCLK" = PERIOD "TNM_phy_TX_CLK" 25 MHz HIGH 50%;
NET "phy_TXCLK" IOSTANDARD="LVCMOS33";
NET "phy_TXCLK" LOC=D13;

NET "phy_RXCLK" CLOCK_DEDICATED_ROUTE = TRUE;
NET "phy_RXCLK" IOSTANDARD="LVCMOS33";
NET "phy_RXCLK" LOC=C14;
NET "phy_RXCLK" TNM_NET = "TNM_phy_RX_CLK";
TIMESPEC "TS_phy_RXCLK" = PERIOD "TNM_phy_RX_CLK" 25 MHz HIGH 50%;

#NET "phy_COL" IOSTANDARD="LVCMOS33";
#NET "phy_COL" LOC=L14;
#NET "phy_CRS" IOSTANDARD="LVCMOS33";
#NET "phy_CRS" LOC=K14;
NET "phy_MDC" IOSTANDARD="LVCMOS33";
NET "phy_MDC" LOC=L13;
NET "phy_MDIO" IOSTANDARD="LVCMOS33";
NET "phy_MDIO" LOC=J14;
NET "phy_RESET_N" IOSTANDARD="LVCMOS33";
NET "phy_RESET_N" LOC=G13;
NET "phy_RXDV" IOSTANDARD="LVCMOS33";
NET "phy_RXDV" LOC=A13;
NET "phy_RXER" IOSTANDARD="LVCMOS33";
NET "phy_RXER" LOC=C13;
NET "phy_TXEN" IOSTANDARD="LVCMOS33";
NET "phy_TXEN" LOC=F13;


NET "phy_RXD<3>" IOSTANDARD="LVCMOS33";
NET "phy_RXD<3>" LOC=A7;
NET "phy_RXD<2>" IOSTANDARD="LVCMOS33";
NET "phy_RXD<2>" LOC=A10;
NET "phy_RXD<1>" IOSTANDARD="LVCMOS33";
NET "phy_RXD<1>" LOC=B12;
NET "phy_RXD<0>" IOSTANDARD="LVCMOS33";
NET "phy_RXD<0>" LOC=A12;

NET "phy_TXD<3>" IOSTANDARD="LVCMOS33";
NET "phy_TXD<3>" LOC=J13;
NET "phy_TXD<2>" IOSTANDARD="LVCMOS33";
NET "phy_TXD<2>" LOC=H13;
NET "phy_TXD<1>" IOSTANDARD="LVCMOS33";
NET "phy_TXD<1>" LOC=G14;
NET "phy_TXD<0>" IOSTANDARD="LVCMOS33";
NET "phy_TXD<0>" LOC=F14;

NET "spi_miso" IOSTANDARD="LVCMOS33";
NET "spi_miso" LOC=N8;
NET "spi_mosi" IOSTANDARD="LVCMOS33";
NET "spi_mosi" LOC=N2;
NET "spi_sck" IOSTANDARD="LVCMOS33";
NET "spi_sck" LOC=N12;
NET "spi_ss" IOSTANDARD="LVCMOS33";
NET "spi_ss" LOC=M2;

NET "i2c_scl" IOSTANDARD="LVCMOS33";
NET "i2c_scl" LOC=P6;
NET "i2c_sda" IOSTANDARD="LVCMOS33";
NET "i2c_sda" LOC=P7;

NET "IMG_RESET_B" IOSTANDARD="LVCMOS33";
NET "IMG_RESET_B" LOC=P4;

NET "PIXCLK" TNM_NET = "TNM_PIXCLK";
TIMESPEC "TS_PIXCLK" = PERIOD "TNM_PIXCLK" 16 Mhz HIGH 50%;
NET "PIXCLK" IOSTANDARD="LVCMOS33";
NET "PIXCLK" LOC=B7;

NET "IMG_CLK" IOSTANDARD="LVCMOS33";
NET "IMG_CLK" LOC=G1;
NET "IMG_CLK" SLEW=FAST;

NET "EXT_TRIG_B" IOSTANDARD="LVCMOS33";
NET "EXT_TRIG_B" LOC=P1;

NET "exposing_i" IOSTANDARD="LVCMOS33";
NET "exposing_i" LOC=A9;

NET "frame_valid_i" IOSTANDARD="LVCMOS33";
NET "frame_valid_i" LOC=M9;

NET "line_valid_i" IOSTANDARD="LVCMOS33";
NET "line_valid_i" LOC=P11;

NET "IMG_DAT<9>" IOSTANDARD="LVCMOS33";
NET "IMG_DAT<8>" IOSTANDARD="LVCMOS33";
NET "IMG_DAT<7>" IOSTANDARD="LVCMOS33";
NET "IMG_DAT<6>" IOSTANDARD="LVCMOS33";
NET "IMG_DAT<5>" IOSTANDARD="LVCMOS33";
NET "IMG_DAT<4>" IOSTANDARD="LVCMOS33";
NET "IMG_DAT<3>" IOSTANDARD="LVCMOS33";
NET "IMG_DAT<2>" IOSTANDARD="LVCMOS33";
NET "IMG_DAT<9>" LOC=M10;
NET "IMG_DAT<8>" LOC=N13;
NET "IMG_DAT<7>" LOC=N14;
NET "IMG_DAT<6>" LOC=M13;
NET "IMG_DAT<5>" LOC=K13;
NET "IMG_DAT<4>" LOC=N5;
NET "IMG_DAT<3>" LOC=N4;
NET "IMG_DAT<2>" LOC=M1;

NET "PCB_REV<2>" IOSTANDARD="LVCMOS33";
NET "PCB_REV<1>" IOSTANDARD="LVCMOS33";
NET "PCB_REV<0>" IOSTANDARD="LVCMOS33";
NET "PCB_REV<2>" LOC=C11;
NET "PCB_REV<1>" LOC=C12;
NET "PCB_REV<0>" LOC=D12;

## ------------------------------------------------------------------------------
## UCF Constraint
##
## Created by Altium Designer.
## Created : 2/4/2009
## ------------------------------------------------------------------------------
##
## The use of this vendor constraint file is not recommended for any
## contraints that are supported by the Altium .Constraint file. The data
## contained in this file will be used as-is and appended to any contraint file
## sharing the same extension generated by the system. Care should be taken not
## to have conflicting constraints in Altium and vendor specific constraint
## files. This constraint file must be part of a FPGA project for it to be
## used. It will also be used if appropriate on any relevant vendor flow stage
## that makes use of such files
#
#NET "MCLK" TNM_NET = "TNM_MCLK";
#TIMESPEC "TS_MCLK" = PERIOD "TNM_MCLK" 48 Mhz HIGH 50%;
#
#NET "NamedSignal_CLK_WB" TNM_NET = "TNM_CLK_WB";
#TIMESPEC "TS_CLK_WB" = PERIOD "TNM_CLK_WB" 24 Mhz HIGH 50%;
#
#NET "PIXCLK" TNM_NET = "TNM_PIXCLK";
#TIMESPEC "TS_PIXCLK" = PERIOD "TNM_PIXCLK" 16 Mhz HIGH 50%;
#
#NET "SOFT_TCK" TNM_NET = "TNM_SOFT_TCK";
#TIMESPEC "TS_SOFT_TCK" = PERIOD "TNM_SOFT_TCK" 32 MHz HIGH 50%;
#
#NET "EXPOSING" IOSTANDARD="LVCMOS33";
#NET "EXPOSING" LOC=A9;
#NET "EXT_TRIG_B" IOSTANDARD="LVCMOS33";
#NET "EXT_TRIG_B" LOC=P1;
#NET "FRAME_VALID" IOSTANDARD="LVCMOS33";
#NET "FRAME_VALID" LOC=M9;
#NET "IMG_CLK" IOSTANDARD="LVCMOS33";
#NET "IMG_CLK" LOC=G1;
#NET "IMG_CLK" SLEW=FAST;
#NET "IMG_DAT<9>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<8>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<7>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<6>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<5>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<4>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<3>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<2>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<1>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<0>" IOSTANDARD="LVCMOS33";
#NET "IMG_DAT<9>" LOC=M10;
#NET "IMG_DAT<8>" LOC=N13;
#NET "IMG_DAT<7>" LOC=N14;
#NET "IMG_DAT<6>" LOC=M13;
#NET "IMG_DAT<5>" LOC=K13;
#NET "IMG_DAT<4>" LOC=N5;
#NET "IMG_DAT<3>" LOC=N4;
#NET "IMG_DAT<2>" LOC=M1;
#NET "IMG_DAT<1>" LOC=L2;
#NET "IMG_DAT<0>" LOC=L1;
#NET "IMG_RESET_B" IOSTANDARD="LVCMOS33";
#NET "IMG_RESET_B" LOC=P4;
#NET "LED_OUT" IOSTANDARD="LVCMOS33";
#NET "LED_OUT" LOC=B5;
#NET "LINE_VALID" IOSTANDARD="LVCMOS33";
#NET "LINE_VALID" LOC=P11;
#NET "MCLK" IOSTANDARD="LVCMOS33";
#NET "MCLK" LOC=F1;
#NET "PCB_REV<2>" IOSTANDARD="LVCMOS33";
#NET "PCB_REV<1>" IOSTANDARD="LVCMOS33";
#NET "PCB_REV<0>" IOSTANDARD="LVCMOS33";
#NET "PCB_REV<2>" LOC=C11;
#NET "PCB_REV<1>" LOC=C12;
#NET "PCB_REV<0>" LOC=D12;
#NET "PIXCLK" IOSTANDARD="LVCMOS33";
#NET "PIXCLK" LOC=B7;
#NET "PORTA0" IOSTANDARD="LVCMOS33";
#NET "PORTA0" LOC=B9;
#NET "RELOAD_B" IOSTANDARD="LVCMOS33";
#NET "RELOAD_B" LOC=B1;
#NET "RESET_BTN" IOSTANDARD="LVCMOS33";
#NET "RESET_BTN" LOC=A3;
#NET "SOFT_TCK" IOSTANDARD="LVCMOS33";
#NET "SOFT_TCK" LOC=H1;
#NET "SOFT_TDI" IOSTANDARD="LVCMOS33";
#NET "SOFT_TDI" LOC=H2;
#NET "SOFT_TDO" DRIVE=16;
#NET "SOFT_TDO" IOSTANDARD="LVCMOS33";
#NET "SOFT_TDO" LOC=D2;
#NET "SOFT_TMS" IOSTANDARD="LVCMOS33";
#NET "SOFT_TMS" LOC=D1;
#NET "SPI_MISO" IOSTANDARD="LVCMOS33";
#NET "SPI_MISO" LOC=N8;
#NET "SPI_MOSI" IOSTANDARD="LVCMOS33";
#NET "SPI_MOSI" LOC=N2;
#NET "SPI_SCK" IOSTANDARD="LVCMOS33";
#NET "SPI_SCK" LOC=N12;
#NET "SPI_SS_B" IOSTANDARD="LVCMOS33";
#NET "SPI_SS_B" LOC=M2;
